html{
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 60px;
    color: #223549;
}

h4{
    font-size: 16px;
    color: #76828e;
}

nav{
    width: 100%;
    height: 60px;
    background: #2b3e51;
    position: fixed;
    z-index: 10;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:visited{
    color: white;
}

nav a:hover{
    color: white;
}

.logo{
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
}

.menu{
    float: left;
    line-height: 60px;
}

.menu li{
    float: left;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 14px;
}

.mobileMenu a:visited{
    color: black;
}

/**/

.main{
    width: 100%;
    height: 100%;
    background: url(../img/man.png) 95% 100%/auto 85% no-repeat, url(../img/background.jpg) center/cover no-repeat;
    position: relative;
}

.title__container{
    width: 100%;
    height: 100%;
}

.mainButtons li{
    float: left;
    margin-right: 20px;
    margin-top: 40px;
}

@media (max-width: 991px) {
    .title__container{
        position: relative;
        z-index: 3;
    }
    
    .title__container h1, .title__container h4, .title__container button{
        color: white;
    }
    
    .main{
        position: relative;
    }
    
    .main::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}
