html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
}

p{
    font-size: 14px;
    color: #38475a;
}

h1{
    font-size: 60px;
    color: #223549;
    font-weight: bold;
}

h2{
    color: #1a2e43;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

h3{
    font-size: 20px;
    color: #2f4154;
    margin-top: 0px;
}

h4{
    font-size: 16px;
    color: #76828e;
}

h5{
    font-size: 14px;
    color: #e87700;
}

nav{
    width: 100%;
    height: 60px;
    background: #2b3e51;
    position: fixed;
    z-index: 10;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:visited{
    color: white;
}

nav a:hover{
    color: white;
}

.logo{
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
}

nav .menu{
    float: left;
    line-height: 60px;
}

nav .menu li{
    float: left;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 14px;
}

.mobileMenu a:visited{
    color: black;
}

/**/

.main{
    width: 100%;
    height: 100%;
    background: url(../img/man.png) 95% 100%/auto 85% no-repeat, url(../img/background.jpg) center/cover no-repeat;
    position: relative;
}

.main .title__container{
    width: 100%;
    height: 100%;
}

.mainButtons li{
    float: left;
    margin-right: 20px;
    margin-top: 40px;
}

/**/

.aboutMe{
    width: 100%;
    height: 716px;
    background: #fcfdfd;
}

.aboutMe .title__container{
    width: 100%;
    height: 100%;
}

.aboutMe .title__container p{
    margin: 20px 0px;
}

.aboutMe .title__container img.manImg{
    margin: 40px;
}

/**/

.skills{
    width: 100%;
    height: 530px;
    background: url(../img/background_2.jpg) center/cover no-repeat;
}

.skills .title__container{
    position: relative;
    z-index: 3;
}

.skills .title__container img{
    margin-bottom: 30px;
}

.skills .title__container li{
    width: 25%;
    float: left;
}

.skills .title__container li img{
    margin-top: 60px;
    height: 50px;
}

.carousel img{
    height: 50px;
}

/**/

.cases{
    width: 100%;
    height: 100%;
}

.cases .title__container{
    width: 100%;
    height: 100%;
}

.cases .title__container img.case{
    width: 100%;
}

.cases .container .row{
    margin-right: 0;
}

/*Калькулятор снова на костылях(исправлю позже)*/

.costCalc{
    width: 100%;
    height: 100%;
}

.costCalc .title__container{
    height: 80%;
    width: 60%;
    box-shadow: 0px 0px 10px black;
}

.costCalc .title__container h2{
    text-align: center;
    margin-top: 20px;
}

.costCalc .title__container .menu h2{
    text-transform: uppercase;
    text-align: left;
    margin-top: 30px;
}

.costCalc .title__container .menu{
    width: 100%;
    margin-top: 120px;
    margin-bottom: 160px;
    padding-left: 10px;
}

.costCalc .title__container .menu select{
    background-color: #efefef;
    color: #737373;
    width: calc(100% - 10px);
    padding: 5px;
    text-align: left;
}

.costCalc .title__container .cost .totalName{
    float: left;
}

/**/

.statistic{
    width: 100%;
    height: 500px;
    background: url(../img/background_4.jpg) center/cover no-repeat fixed;
}

.statistic .title__container{
    position: relative;
    z-index: 3;
}

.statistic .title__container img{
    margin-bottom: 30px;
}

.statistic .title__container li{
    width: 25%;
    float: left;
}

.statistic .title__container li img{
    margin-top: 60px;
    height: 50px;
}

.carousel img{
    height: 50px;
}


/*MEDIA*/

@media (max-width: 991px) {
    .main .title__container{
        position: relative;
        z-index: 3;
    }
    
    .main .title__container h1, .main .title__container h4, .main .title__container button{
        color: white;
    }
    
    .main{
        position: relative;
    }
    
    .main::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

@media (max-width: 425px){
    .aboutMe .title__container img.manImg{
        margin-top: 10px;
        margin-bottom: 0px;
        height: 100px;
    }
}

@media (max-width: 505px){
    .costCalc .title__container h2{
        font-size: 16px;
    }
}